@media(min-width: 577px) and (max-width: 992px) {
  .input-search {
    max-width: 71.5%;
  }
  .make-box,
  .update-box {
    padding-left: 0;
    flex-direction: column;
  }
  .make-date {
    margin-right: 0;
  }
  .button-box {
    flex-direction: column;
    padding-left: 0;
  }
  .fio-title {
    flex-wrap: nowrap;
    min-width: 190px;
  }
  .fio-btn {
    flex-wrap: nowrap;
  }
  .make-title,
  .edit-title {
    padding: 0;
    text-align: left;
  }
  .edit {
    margin-bottom: 5px;
  }
  .contacts-title {
    padding-left: 0;
  }
  .contact-list {
    padding-left: 0;
  }
  .modal-del {
    left: 20%;
  }
}
@media(min-width: 320px) and (max-width: 576px) {
  .header-box {
    padding: 20px 0;
  }
  .logo {
    margin: 0 auto;
    height: 24px;
    width: 24px;
  }
  .form {
    display: none;
  }
  .clients-box {
    padding: 0 10px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .modal-add,
  .modal-edit {
    width: 94%;
    top: 50%;
  }
  .table-clients {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .choices {
    width: 110px;
    background-position: 91px 16px;
  }
  .choice-list {
    width: 110px;
  }
  .input-box__contact {
    width: 160px;
  }
  .make-box,
  .update-box {
    flex-direction: column;
  }
  .button-box {
    flex-direction: column;
  }
  .fio-title {
    flex-wrap: nowrap;
    min-width: 190px;
  }
  .fio-btn {
    flex-wrap: nowrap;
  }
  .make-title,
  .edit-title {
    text-align: left;
  }
  .make-title div {
    display: flex;
    flex-direction: column;
  }
  .edit-title div {
    display: flex;
    flex-direction: column;
  }
  .edit {
    margin-bottom: 5px;
  }
  .number {
    line-height: 16px;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  .edit-button,
  .delete-button {
    margin-right: 20px;
  }
}
